html, body
{   
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Layout */

.layout-row, .layout-col { position: absolute; }
.layout-row { left: 0; right: 0; }
.layout-col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

/* Header and views */

.layout-view
{
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
}

.layout-header
{
  height: 100px;
  background: #ddd;
  padding: 0;
}

.layout-header table
{
  border-collapse: collapse;
  width: 100%;
}

.layout-header table td
{
  width: 20%;
  vertical-align: top;
  text-align: left;
  padding: 10px 10px 0 10px;
}

.layout-header table td.center
{
  width: 60%;
  text-align: center;
}

.layout-header table td.right
{
  text-align: right; 
}

.spinner img
{
  margin-left: 45%;
  margin-top: 10%;
}

#filename
{
  padding: 8px 0;
}

#file-upload-form input {
  display: none;
}

.tr-main-tabs .btn,
.tr-main-tabs .btn:hover,
.tr-main-tabs .btn:active
{
  background-color: #f5f5f5;
  border-color: #ddd !important;
  padding: 8px 30px !important;
}

.tr-main-tabs .btn.active
{
  background: #666;
  color: #fff;

}

#drop-file
{
  margin-top: 30px;
  font-size: 140%;
  color: #333;
  text-align: center;
}

#drop-file img
{
  margin: 30px 0;
}

#settings-dialog .nlp-heading
{
  font-weight: bold;
  color: #337ab7;
}

#settings-dialog input[type=radio]
{
  margin-top: 10px;
  margin-right: 5px;
}

#settings-dialog input[type=checkbox]
{
  margin-top: 20px;
  margin-right: 5px;
}

#nerImplCoreNLPCoref {
  margin-left: 40px;
}

/*** Original view ***/

#view-original-pdf
{
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  border: 0;
}

#view-original-pdf embed, #view-export-pdf embed
{
  width: 100%;
  height: 100%;
}

/*** Redactions view ***/

#view-redactions-sidebar
{
  background: #eee;
  padding: 15px;
  width: 300px;
}

#view-redactions-doc
{
  left: 300px;
  right: 0;
  background: #fff;
  padding: 15px;
  white-space: pre-line;
  overflow: auto;
}

/*** Export view ***/

#view-export .view-export-header
{
  background-color: #fff;
  height: 55px;
  padding: 10px 20px;
}

#view-export .view-export-header .pull-left
{
  margin-top: 8px;
}

#view-export-pdf
{
  position: absolute;
  top: 55px;
  left: 0; 
  width: 100%;
  height: 100%;
  border: 0;
}

/*** ***/

.doc-container
{
  background-color: #666;
  padding: 30px 120px;
}

.document
{
  border: solid 1px #000;
  background-color: #fff;
  padding: 60px 60px 90px 60px;
}


#view-redactions-sidebar .category
{
  background-image: url(../images/corner.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  margin: 15px 0 0 0;
  padding: 5px 10px 5px 20px;
  color: #fff;
/*   cursor: pointer; */
}

#view-redactions-sidebar [draggable]
{
  cursor: move;
}

#view-redactions-sidebar .dragged
{
  opacity: 0.4;
}

#view-redactions-sidebar .dragover
{
  border: 2px dashed green;
}

#view-redactions-sidebar .entity
{
  margin-top: 10px;
}

#view-redactions-sidebar .entity.selected
{
  background-color: #FAFAFA;
}

#view-redactions-sidebar .entity-name
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* shorten long text and append ... if truncated */ 
}

#view-redactions-sidebar .entity .badge
{
  background: #ddd;
  color: #333;
}

#view-redactions-sidebar .entity li .badge
{
  font-weight: normal;
}

#view-redactions-sidebar .entity li.selected .badge
{
  font-weight: bold;
}

#view-redactions-sidebar .entity ul
{
  list-style-type: none;
  padding-left: 0px;
}

#view-redactions-sidebar .entity:not(.selected) ul
{
  display: none;  
}

#view-redactions-sidebar .entity .selected
{
  font-weight: bold;
}

#view-redactions-doc span {
  color: white;
}

#view-redactions-doc .generated-content.highlight span
{
  background-color: grey;
}

#view-redactions-create-menu .dropdown-menu, #view-redactions-edit-menu .dropdown-menu
{
    padding-right: 10px;
}

/* draw a circle before entity-type menu items */
#view-redactions .dropdown-menu .entity-type:before
{
  content: "";  
  width: 1em;
  height: 1em;
  float: left;
  margin-right: 0.5em;
  margin-top: 0.2em;
  border-radius: 50%;
}

#view-redactions .dropdown-menu .entity-type.current
{  
  font-weight: bold; 
}

/* person */

#view-redactions-sidebar .person .category, #view-redactions-doc .person, #view-redactions-doc .generated-content.highlight .person.selected, #view-redactions .dropdown-menu .entity-type.person:before
{
  background-color: #F45B58;
}

#view-redactions-doc .generated-content.highlight .person.half-selected
{
  background-color: #f4a8a6;
}

/* organization */

#view-redactions-sidebar .organization .category, #view-redactions-doc .organization, #view-redactions-doc .generated-content.highlight .organization.selected, #view-redactions .dropdown-menu .entity-type.organization:before
{
  background-color: #EE9D47;
}

#view-redactions-doc .generated-content.highlight .organization.half-selected
{
  background-color: #eec69b;
}

/* location */

#view-redactions-sidebar .location .category, #view-redactions-doc .location, #view-redactions-doc .generated-content.highlight .location.selected, #view-redactions .dropdown-menu .entity-type.location:before
{
  background-color: #EBC44D;
}

#view-redactions-doc .generated-content.highlight .location.half-selected
{
  background-color: #ebd89e;
}

/* date */

#view-redactions-sidebar .date .category, #view-redactions-doc .date, #view-redactions-doc .generated-content.highlight .date.selected, #view-redactions .dropdown-menu .entity-type.date:before
{
  background-color: #68C14F;
}

#view-redactions-doc .generated-content.highlight .date.half-selected
{
  background-color: #94c187;
}

/* number */

#view-redactions-sidebar .number .category, #view-redactions-doc .number, #view-redactions-doc .generated-content.highlight .number.selected, #view-redactions .dropdown-menu .entity-type.number:before
{
  background-color: #48B1E9;
}

#view-redactions-doc .generated-content.highlight .number.half-selected
{
  background-color: #98cde9;
}

#view-redactions-sidebar .redaction-checkbox
{
  float: left;
  width: 20px;
}

#view-redactions-sidebar .entity-info
{
  margin-left: 20px;
  width: 150px;
}

#view-redactions-sidebar .count
{
  float: right;
}

#view-redactions-sidebar .entity .redaction-reason
{
  color: #999;
  font-style: italic;
}

#view-redactions-sidebar .entity:not(.redacted) .redaction-reason
{
  display: none;
}

#view-redactions-doc .redacted
{
  text-decoration: line-through;
}


div.legal
{
  width: 800px;
  font-size: .8em;
  color: #999;
  margin: 50px auto;
  text-align: center;
}
