html, body
{   
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Layout */

.layout-row, .layout-col { position: absolute; }
.layout-row { left: 0; right: 0; }
.layout-col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

/* Header and views */

.layout-view
{
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
}

.layout-header
{
  height: 100px;
  background: #ddd;
  padding: 0;
}

.layout-header table
{
  border-collapse: collapse;
  width: 100%;
}

.layout-header table td
{
  width: 20%;
  vertical-align: top;
  text-align: left;
  padding: 10px 10px 0 10px;
}

.layout-header table td.center
{
  width: 60%;
  text-align: center;
}

.layout-header table td.right
{
  text-align: right; 
}

div#filename
{
  padding: 8px 0;
}

.tr-main-tabs .btn,
.tr-main-tabs .btn:hover,
.tr-main-tabs .btn:active
{
  background-color: #f5f5f5;
  border-color: #ddd !important;
  padding: 8px 30px !important;
}

.tr-main-tabs .btn.active
{
  background: #666;
  color: #fff;

}

div#start-drag-drop
{
  margin-top: 30px;
  font-size: 140%;
  color: #333;
  text-align: center;
}

div#start-drag-drop img
{
  margin: 30px 0;
}


/*** Original view ***/

#orig-pdf
{
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  border: 0;
}

/*** Redactions view ***/

#view-redactions-sidebar
{
  background: #eee;
  padding: 15px;
  width: 300px;
}

#view-redactions-doc
{
  left: 300px;
  right: 0;
  background: #fff;
  padding: 15px;
  white-space: pre-line;
  overflow: auto;
}

/*** Export view ***/

#view-export-header
{
  background-color: #fff;
  height: 55px;
  padding: 10px 20px;
}

#export-pdf
{
  position: absolute;
  top: 55px;
  left: 0; 
  width: 100%;
  height: 100%;
  border: 0;
}

/*** ***/

div.doc-container
{
  background-color: #666;
  padding: 30px 120px;
}

div.document
{
  border: solid 1px #000;
  background-color: #fff;
  padding: 60px 60px 90px 60px;
}


#txt-search
{
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: top left;
}

#view-redactions-sidebar .category
{
  background-image: url(../images/corner.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  margin: 15px 0 0 0;
  padding: 5px 10px 5px 20px;
  color: #fff;
  cursor: pointer;
}

#view-redactions-sidebar .category span.badge
{
  background: rgba(255, 255, 255, 0.5);
  padding: 4px 8px;
}


#view-redactions-doc span {
  color: white;
}

#view-redactions-sidebar .PERSON .category, #view-redactions-doc span.person
{
  
  background-color: #F45B58;
}

#view-redactions-sidebar .ORGANIZATION .category, #view-redactions-doc span.organization
{
  background-color: #EE9D47;
}

#view-redactions-sidebar .LOCATION .category, #view-redactions-doc span.location
{
  background-color: #EBC44D;
}

#view-redactions-sidebar .DATE .category, #view-redactions-doc span.date
{
  background-color: #68C14F;
}

#view-redactions-sidebar .NUMBER .category, #view-redactions-doc span.number
{
  background-color: #48B1E9;
}

#view-redactions-sidebar table.entity-list
{
  border-collapse: collapse;
}

#view-redactions-sidebar th,
#view-redactions-sidebar td
{
  border-top: solid 1px #eee;
}

#view-redactions-sidebar th
{
  padding: 0 8px 0 0;
}

#view-redactions-sidebar td
{
  background-color: #f5f5f5;
  vertical-align: top;
  text-align: left;
  padding: 8px 0px 8px 12px;
}

#view-redactions-sidebar td.entity-info
{
  width: 100%;
}

#view-redactions-sidebar td.entity-info span.badge
{
  margin-right: 10px;
  background: #ddd;
  padding: 4px 8px;
  color: #333;
}

#view-redactions-sidebar td.entity-info div.redaction-reason
{
  color: #999;
  font-style: italic;
}

div.legal
{
  width: 800px;
  font-size: .8em;
  color: #999;
  margin: 50px auto;
  text-align: center;
}
